/.vscode
/node_modules
/public/hot
/public/targets
/public/*.xlsx
*.pdf
/public/*.pdf
/public/storage
/storage/*.key
/storage/*.docx
/storage/framework/laravel-excel/*
/storage/logs/*
/vendor
.env
.history/*
.idea/*
.env.backup
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
#bootstrap/*
.tmp.drivedownload/9908847.driveupload
*.driveupload
.vscode/launch.json
.env - Copy.example
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/phpunit.xml
.idea/sell360.iml
.idea/vcs.xml
.idea/php.xml
.idea/workspace.xml
#
